# MedTorn — Variables d'entorn
# Copia aquest fitxer com a .env i ajusta els valors

# Connexió MongoDB local
MONGODB_URI=mongodb://127.0.0.1:27017/medtorn

# Port del servidor Express
PORT=3000

# Entorn (development | production)
NODE_ENV=development
